.h1{
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  color: #848587;
}

.form-control{
  height: 30px;
  width: 245px;
}

.form-floating{
  padding-bottom: 5px;
  padding-left: 540px;
}

.checkbox{
  padding-left: 610px;
  padding-top: 5px;
}

.btn{
  padding-left: 545px;
  padding-top: 15px;
}

.cpy{
  padding-left: 580px;
}

.icon{
    padding-left: 620px;
    padding-top: 60px;
    width: 112px;
    height: 87px;
}

.btntxt{
  height: 30px;
  width: 245px;
  font-family: sans-serif;
}

button{
    font-size: 20px;
    background-color: #2d862d;
    border: none;
    border-radius: 5px;
    color: white;
}

.box{
  width: 15px;
  height: 15px;
  cursor: 
}

label{
  font-family: sans-serif;
  font-size:15px;
}
.error {
  color: #FF0000;
  padding-left: 560px;
}

h4{
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  color: #008000;
}

.logout{
    height: 250px;
    width: 150px;
    display: inline-block;
    background-image:linear-gradient(#258a40,#ecf8f2);
    border: 2px;
    border-style: hidden;
    padding-top: 50px;
}

.a{
  text-decoration: none;
  font-size: 20px;
  padding-left: 10px;
  font-family: sans-serif;
  color:white;
}

.a:hover{
  color: #878a87; 
}

.data{
  display: inline-block;
  height: 124px;
  width: 700px;
  padding-left: 140px;
}

body{
  background-color: #ecf8f2;
}

#table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){
  background-color: #f2f2f2;
}

#table tr:hover {
  background-color: #ddd;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #006600;
  color: white;
}

.servers{
  display: inline-block;
  height: 124px;
  width: 700px;
  padding-left: 140px;
}

main{
  height: 620px;
}

#erromsg{
  color: red;
  padding-left: 560px;
}